.navBar{
    margin: 10px;
}

.leftCont{
    width: fit-content;
    float: left;
    margin-left: 30px;
}

.rightCont{
    justify-self: end;
    display: flex;
    width: fit-content;
    float: right;
    margin-right: 30px;
}

.navButton{
    margin: 10px;
}