.displayCont{
    text-align: center;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.displayCont{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.button{
    background-color: rgb(225, 241, 255);
    padding: 10px;
    width: fit-content;
    border-radius: 20px;
}

.descCont {
    padding: 0px 30px;
}