.aboutMeBanner{
    padding-top: 50px;
}

.imageCont{
    width: 150px;
    height: 150px;
    border-radius: 200px;
    /* background-color: rgb(255, 255, 255); */
    margin: auto;
    justify-content: center;
    align-self: center;
    border: solid 5px rgb(222, 162, 179);
    padding: 10px;
}

.aboutMeImage{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    object-fit: cover;
    margin: auto;
}

.details{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.buttonCont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5px;
}

.buttons{
    /* background-color: rgb(225, 241, 255);
     */
    border: solid 2px rgb(222, 162, 179);
    width: fit-content;
    border-radius: 20px;
    padding: 5px 10px;
}