.navBar{
    margin: 0px;
    height: fit-content;
}

.leftCont{
    width: fit-content;
    float: left;
    margin: 15px 50px;
}

.rightCont{
    display: flex;
    float: right;
    margin-top: 20px;
}

.navButton{
    margin: 10px;
}