.navBar{
    margin: 0px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.leftCont{
    width: 50%;
    margin: 15px 50px;
}

.rightCont{
    display: flex;
    gap: 0px;
    margin-top: 20px;
}

.navButton{
    padding: 0px 10px 0px 10px;
    height: 50px;
    transition: background-image 1s;
}

.navButton:hover{
    transition-timing-function: ease-in-out;
     background-image: linear-gradient(white, rgb(255, 210, 220));
}